if has nix; then
  watch_file flake.nix
  watch_file flake.lock
  watch_file nix/devshell.nix
  use flake
fi

watch_file .envrc.local

if [[ -f .envrc.local ]]; then
  set -a
  source .envrc.local
  set +a
fi
