[Unit]
Description=Vault Agent for the Proxmox listener certificate
Documentation=https://developer.hashicorp.com/vault/docs/agent-and-proxy/agent
Wants=network-online.target
After=network-online.target pve-cluster.service
Requires=pve-cluster.service

[Service]
Type=simple
ExecStart=/usr/local/bin/vault agent -config=/etc/vault-agent-proxmox/vault-agent.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
Restart=on-failure
RestartSec=5s
UMask=0077
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
ReadWritePaths=/etc/pve/nodes/pve /var/lib/vault-agent-proxmox
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
